body{
  padding: 0;
  margin: auto;
  background-color: #FBF1C7;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono";
}
#headerDiv{
  background-color: #BDAE93;
  height: 40px;
  padding: 5px;
  display: flex;
  right: 0px;
  left: 0px;
  top: 0px;
  justify-content: space-between;
}

#shuffle-title{
  justify-content: center;
  height: min-content;
  align-items: center;
}

#main{
  position: absolute;
  width: 100%;
  top: 50px;
  bottom: 0px;
}

#displayDiv{
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#configDiv{
  background-color: #EBDBB2;
  display: flex;
  flex-direction: column;
  width: 188px;
  height: 100%;
}

.config{
  display: flex;
  height: 50px;
  padding: 10px;
  background-color: #EBDBB2;
  border-bottom: solid 1px #BDAE93;
  flex-direction: column;
  font-weight: 900;
  
  color: #242424;
}

.config label{
  padding-bottom: 5px;
  background-color:#EBDBB2 ;
}

.config select{
  font-family: inherit;
  width:fit-content;
  border: none;
  background-color:#EBDBB2 ;
}
.config input{
  font-family: inherit;
  width: fit-content;
  border: none;
  background-color:#EBDBB2 ;
}
#recall_mode{
  font-family: inherit;
  width: inherit;
  border: none;
  background-color:#EBDBB2 ;
}
#recall_mode:hover{
   border:#686868 solid 1px;
  border-radius: 4px;
}

.config select:hover, .config input:hover{
  border:#686868 solid 1px;
  border-radius: 4px;
}


#start_session, #start_session button{
  font-family: inherit;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 0 auto;
}

#start_session button:hover{
  border: #242424 solid 1px;
}

#logo{
  height: 370px;
  object-fit: contain;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
  margin-top: 20px;
}

.indexButtonDiv{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 10px;
  justify-content: space-between;
  width: 200px;
}

.indexButtonDiv button{
  font-family: inherit;
  font-weight: 900;
  font-size: 1em;
  padding: 7px;
  width: max-content;
  border: none;
  border-radius:10px;
  background-color: #A9A7BA;
  color: #2e2d34;
  opacity: 0.8;
}

.loginDiv button:hover{
  opacity: 1;
  border: 1px solid #242424;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}
.loginDiv button:active{
  border: none;
}

#logo:hover{
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
  transition: 0.3s;
}

#displayDiv p:hover{
  text-decoration: underline;
  transition: 0.3s;
}

.authenDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2e2d34;
  margin: 0 auto;
  height: max-content;
  width: 240px;
  border-radius: 10px;
  background-color:#afafaf;
  padding: 10px;
  font-family: inherit;
  margin-top: 20vw;

}
.authenDiv h3{
  margin: 0px 25px;
  align-self: flex-start;
}


.authenDiv input{
  font-family: inherit;
  width: 75%;
  margin:5px 0px;
  border: none;
  border-radius: 2px;
  padding: 3px 3px;
}



.authenDiv button{
  font-family: inherit;
  align-self: center;
  margin-top: 10px;
  height: 25px;
  width: 25%;
  padding: 3px 1px;
  border-radius: 3px;
  border: none; 
}


.authenDiv button:active{
  height: 25px; 
  border:#686868 1px solid;
}

/* navigation bar */
#nav-bar{
  display: flex;
  align-items:center;
  justify-content: space-between;
  width: max-content;
}

#nav-bar a{
  color: inherit;
  text-decoration: none;
  margin: 10px;
}

#nav-bar a:active{
  font-weight: bold;
}

/* home.html */
#home_logo{
  width: 200px;
}

/* #logout{
  
} */

#buttonDiv{
  display: flex;
  flex-direction: column;
}

.homeButtons{
  font-family: inherit;
  font-weight: 900;
  font-size: 1em;
  padding: 7px;
  border: none;
  border-radius:10px;
  background-color: #A9A7BA;
  margin: 10px;
  color: #2e2d34;
  opacity: 0.8;
}

.homeButtons:active{
  border:#686868 1px solid;
}

#displayDiv{
  height: 85%;
}

