body{
  padding: 0;
  margin: auto;
  background-color: #FBF1C7;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono";
}
#headerDiv{
  background-color: #BDAE93;
  height: 40px;
  padding: 5px;
  display: flex;
  right: 0px;
  left: 0px;
  top: 0px;
}

#shuffle-title{
  justify-content: center;
  height: min-content;
  align-items: center;
}

#main{
  display: flex;
  width: 100%;
  height: 100%;
}
#displayDiv{
  display: flex;
  width: 100%;
}
#configDiv{
  background-color: #EBDBB2;
  display: flex;
  flex-direction: column;
  width: 188px;
  height: inherit;
}

.config{
  display: flex;
  height: 50px;
  padding: 10px;
  background-color: #EBDBB2;
  border-bottom: solid 1px #BDAE93;
  flex-direction: column;
  font-weight: 900;
  
  color: #242424;
}

.config label{
  padding-bottom: 5px;
  background-color:#EBDBB2 ;
}

.config select{
  font-family: inherit;
  width:fit-content;
  border: none;
  background-color:#EBDBB2 ;
}
.config input{
  font-family: inherit;
  width: fit-content;
  border: none;
  background-color:#EBDBB2 ;
}
#recall_mode{
  font-family: inherit;
  width: inherit;
  border: none;
  background-color:#EBDBB2 ;
}
#recall_mode:hover{
   border:#686868 solid 1px;
  border-radius: 4px;
}

.config select:hover, .config input:hover{
  border:#686868 solid 1px;
  border-radius: 4px;
}

#start_session, #start_session button{
  font-family: inherit;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  padding: 7px;
  margin: 0 auto;
}

#start_session button:hover{
  border: #242424 solid 1px;
}

#logo{
  height: 300px;
}